<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title> <!-- confige zr, 40 eilute atrodo-->
        <link rel="stylesheet" href="assets/styles/app.css">
        
    </head>
    <body>
        <section class="section1">
            <div class="section1__header">
                <div class="section1__header__logo">

                </div>
                <nav class="section1__header__nav">
                    <ul>
                        <li>
                            <a class="active" href="#" >HOME</a>
                        </li>
                        <li>
                            <a href="#">ABOUT</a>
                        </li>
                        <li>
                            <a href="#">WORK</a>
                        </li>
                        <li>
                            <a href="#">BLOG</a>
                        </li>
                        <li>
                            <a href="#">CONTACT</a>
                        </li>
                    </ul>
                </nav>
                <nav class="section1__header__nav__adapt">

                </nav>
            </div>
            <h1>
                Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
            </h1>
            <a class="section1__cta">
                WORK WITH US!
            </a>
        </section>
        <section class="section2">
            <h2>
                SERVICES WE PROVIDE
            </h2>
            <div class="section2__line">

            </div>
            <p>
                We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
            </p>
            <div class="section2__icons">
                <div class="section2__icons__items">
                    <img src="assets/images/Flag-icon.png" />
                    <h3>
                        BRANDING
                    </h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan.
                </div>
                <div class="section2__icons__items">
                    <img src="assets/images/Crayon-icon.png" />
                    <h3>
                        DESIGN
                    </h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan.
                </div>
                <div class="section2__icons__items">
                    <img src="assets/images/Gears-icon.png" />
                    <h3>
                        DEVELOPMENT
                    </h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan.
                </div>
                <div class="section2__icons__items">
                    <img src="assets/images/Rocket-icon.png" />
                    <h3>
                        ROCEKT SCIENCE
                    </h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan.
                </div>
            </div>
        </section>
        <section class="section3">
            <h2>
                MEET OUR BEAUTIFUL TEAM
            </h2>
            <div class="section3__line">

            </div>
            We are small team of designers and developers, who help brands with big ideas.
            <div class="section3__container">
                <div class="section3__container__items">
                    <div class="section3__container__items__photo">

                    </div>
                    <a>
                        ANNA HATHAWAY
                    </a>
                    <a>
                        CEO / Marketing guru
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan. Ut sit amet bibendum diam. Etiam felis velit, blandit vitae iaculis tincidunt, scelerisque id risus.
                    <div class="section3__container__items__soc">
                        <img src="assets/images/Fb.png" />
                        <img src="assets/images/Twitter.png" />
                        <img src="assets/images/LinkedIn.png" />
                        <img src="assets/images/Mail.png" />
                    </div>
                </div>
                <div class="section3__container__items">
                    <div class="section3__container__items__photo">

                    </div>
                    <a>
                        KATE UPTON
                    </a>
                    <a>
                        Creative Director
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan. Ut sit amet bibendum diam. Etiam felis velit, blandit vitae iaculis tincidunt, scelerisque id risus.
                    <div class="section3__container__items__soc">
                        <img src="assets/images/Twitter.png" />
                        <img src="assets/images/LinkedIn.png" />
                        <img src="assets/images/Mail.png" />
                    </div>
                </div>
                <div class="section3__container__items">
                    <div class="section3__container__items__photo">

                    </div>
                    <a>
                        OLIVIA WILD
                    </a>
                    <a>
                        Lead Designer
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan. Ut sit amet bibendum diam. Etiam felis velit, blandit vitae iaculis tincidunt, scelerisque id risus.
                    <div class="section3__container__items__soc">
                        <img src="assets/images/Twitter.png" />
                        <img src="assets/images/LinkedIn.png" />
                        <img src="assets/images/Mail.png" />
                    </div>
                </div>
                <div class="section3__container__items">
                    <div class="section3__container__items__photo">

                    </div>
                    <a>
                        ASHLEY GREENE
                    </a>
                    <a>
                        Lead Designer
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales id metus sed accumsan. Ut sit amet bibendum diam. Etiam felis velit, blandit vitae iaculis tincidunt, scelerisque id risus.
                    <div class="section3__container__items__soc">
                        <img src="assets/images/Fb.png" />
                        <img src="assets/images/Twitter.png" />
                        <img src="assets/images/Mail.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section4">
            <h2>
                OUR PORTFOLIO
            </h2>
            <div class="section4__line">

            </div>
            <div class="section4__p">
                Pellentesque feugiat congue nisl, ut lobortis nunc placerat at. Sed facilisis augue eget imperdiet lacinia. 
            </div>
            <div class="section4__tabs">
                <ul>
                    <li>
                        <a class="portfolio_active">ALL</a>
                    </li>
                    <li>
                        <a>WEB</a>
                    </li>
                    <li>
                        <a>APPS</a>
                    </li>
                    <li>
                        <a>ICONS</a>
                    </li>
                </ul>
            </div>
            <div class="section4__container">
                <div class="section4__container__item">
                    <img src="assets/images/comp1.png" />
                    ISOMETRIC PERSPECTIVE MOCK UP
                </div>
                <div class="section4__container__item">
                    <img src="assets/images/comp2.png" />
                    TIME ZONE APP UI
                </div>
                <div class="section4__container__item">
                    <img src="assets/images/comp3.png" />
                    VIRO MEDIA PLAYERS UI
                </div>
                <div class="section4__container__item">
                    <img src="assets/images/comp4.png" />
                    BLOG / MAGAZINE FLAT UI KIT
                </div>
            </div>
            <a href="#" class="section4__button">
                LOAD MORE PROJECTS
            </a>
        </section>
        <section class="section5">
            <h2>
                GET IN TOUCH
            </h2>
            <div class="section5__line">

            </div>
            1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
            <form>
                <div class="section5__formWr">
                    <input type="text" class="section5__formWr__input" placeholder="Your Name" />
                    <input type="text" class="section5__formWr__input" placeholder="Your Email" />
                </div>
                <textarea class="section5__textarea" placeholder="Your message"></textarea>
                <input type="submit" value="SEND MESSAGE"/>
            </form>
        </section>
        <section class="section6">
            <div class="section6__container">
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Google+</a>
                    </li>
                    <li>
                        <a href="#">LinkedIn</a>
                    </li>
                    <li>
                        <a href="#">Behance</a>
                    </li>
                    <li>
                        <a href="#">Dribbble</a>
                    </li>
                    <li>
                        <a href="#">GitHub</a>
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>